*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155);

    color:white;
}

.container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.player-card,
.playlist-card{

    width:380px;

    backdrop-filter:blur(15px);

    background:rgba(255,255,255,0.1);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:20px;

    padding:25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.5);
}

.player-card{
    text-align:center;
}

.player-card h1{
    margin-bottom:20px;
}

#search{
    width:100%;
    padding:10px;
    border:none;
    border-radius:10px;
    margin-bottom:20px;
}

#cover{

    width:220px;
    height:220px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid white;

    margin-bottom:15px;
}

.rotate{
    animation:rotate 8s linear infinite;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#artist{
    opacity:.8;
    margin-top:5px;
}

#progress{
    width:100%;
    margin-top:20px;
}

.time{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.controls{
    margin-top:20px;
}

.controls button{

    width:60px;
    height:60px;

    border:none;

    border-radius:50%;

    margin:0 10px;

    cursor:pointer;

    font-size:20px;

    transition:.3s;
}

.controls button:hover{
    transform:scale(1.1);
}

.volume-box{
    margin-top:20px;
}

.volume-box input{
    width:70%;
}

.playlist-card h2{
    margin-bottom:20px;
}

#playlist{
    list-style:none;
}

#playlist li{

    padding:12px;

    margin-bottom:10px;

    background:rgba(255,255,255,0.1);

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

#playlist li:hover{
    background:rgba(255,255,255,0.25);
}

.active{
    background:#22c55e !important;
}

@media(max-width:900px){

    .container{
        justify-content:center;
    }

}